[Unit]
Description=Caddy web server (with upload2dir plugin)
Documentation=https://github.com/crackeer/caddy-upload2dir
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
Environment=HOME=/root
ExecStart=/usr/local/caddy/caddy run --config /usr/local/caddy/caddy.json
ExecReload=/usr/local/caddy/caddy reload --config /usr/local/caddy/caddy.json --force
WorkingDirectory=/usr/local/caddy
Restart=on-failure
RestartSec=5s
TimeoutStopSec=5s
LimitNOFILE=1048576
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
